.vs
loader/.git
loader/.vs
loader/*.user
loader/[Dd]ebug/
loader/[Rr]elease/
loader/[Bb]in/
loader/[Oo]bject/
Sharperner/.vs
Sharperner/*.user
Sharperner/[Dd]ebug/
Sharperner/[Rr]elease/
Sharperner/[Bb]in/
Sharperner/[Oo]bject/
