.vs
Sharperner.sln
loader/.git
loader/.vs
loader/*.user
loader/[Bb]in/
loader/[Oo]bject/
loader/loader/
loader/x64/
DInvoke/.vs
DInvoke/*.user
DInvoke/[Bb]in/
DInvoke/[Oo]bject/
NativeBinaryLoader/
NativeBinaryLoader/.git
NativeBinaryLoader/.vs
NativeBinaryLoader/*.user
NativeBinaryLoader/[Bb]in/
NativeBinaryLoader/[Oo]bject/
NativeBinaryLoader/loader/
NativeBinaryLoader/x64/
Sharperner/.vs
Sharperner/*.user
Sharperner/[Dd]ebug/
Sharperner/[Rr]elease/
Sharperner/[Bb]in/
Sharperner/[Oo]bject/
Sharperner_portable/
DllInject/
PELoader/
